headstart_admissions_config.php
headstart_admission_config.php
pods.export
# ignore all files ending with config.php
*config.php
# ignore all files that have config.php anywhere in between
*config.php*
